body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    width: 768px;
   
  }

  .main {
    border-top: 50px solid grey;
    border-bottom: 50px solid grey;
    margin: 0 auto;
    padding: 10px;
    /* background-image: repeating-linear-gradient(-45deg, white, white 15px, rgb(240, 240, 240) 15px, rgb(240, 240, 240) 30px); */
    /* background-image: repeating-linear-gradient(-45deg, lightgrey, lightgrey 15px, rgb(200, 200, 200) 15px, rgb(200, 200, 200) 30px); */
  }

  .about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .thumb {
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    border-radius: 4px;
  }

  .thumb > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }

  .description {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .description-name {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    margin-bottom: 25px;
  }

  .about-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
   margin-top: 0;
   margin-bottom: 10px;
   text-align: justify;
  }

  .description {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
  
.contacts {
  text-align: right;
}

  .contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
  }

  .contact-link:hover {
    color: #fb6d3a;
  }

  .contact-item {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .contact-item:last-child {
    margin-bottom: 0;
  }


  .finally {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }